#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 80

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&trackball {
    automouse-layer = <4>;

    // scroll-layers = <5>;
    // arrows {
    //     layers = <3>;
    //     bindings =
    //         <&kp RIGHT_ARROW>,
    //         <&kp LEFT_ARROW>,
    //         <&kp UP_ARROW>,
    //         <&kp DOWN_ARROW>;
    //     tick = <10>;
    //     wait-ms = <5>;
    //     tap-ms = <5>;
    // };
};

/ {
    combos { compatible = "zmk,combos"; };

    behaviors {
        comma_lclick: comma_lclick {
            compatible = "zmk,behavior-hold-tap";
            label = "COMMA_LCLICK";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&mkp>, <&kp>;
        };

        encoder_msc_down_up: encoder_msc_down_up {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ENCODER_MSC_DOWN_UP";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

            tap-ms = <20>;
        };

        td_cc: tap_dance_cc {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_CC";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp C>, <&kp LC(C)>;
        };

        td_vp: tap_dance_vp {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_VP";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp V>, <&kp LC(V)>;
        };

        td_zz: tap_dance_zz {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_ZZ";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp Z>, <&kp LC(Z)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q      &kp W           &kp E            &kp R      &kp T                                              &kp Y      &kp U  &kp I                     &kp O    &kp P
&kp A      &kp S           &kp D            &kp F      &kp G      &kp LG(D)          &kp INTERNATIONAL_4  &kp H      &kp J  &kp K                     &kp L    &kp MINUS
&td_zz     &kp X           &td_cc           &td_vp     &kp B      &kp DEL            &kp INTERNATIONAL_5  &kp N      &kp M  &comma_lclick LCLK COMMA  &kp DOT  &kp LEFT_SHIFT
&kp LCTRL  &kp LEFT_ARROW  &kp RIGHT_ARROW  &kp SPACE  &kp ENTER  &kp BACKSPACE      &mkp RCLK            &mkp LCLK                                            &mo 1
            >;

            sensor-bindings = <&encoder_msc_down_up>;
        };

        FUNCTION {
            bindings = <
&kp ESCAPE                &kp F2         &kp F5      &kp F7            &kp F8                                                  &kp KP_NUMBER_7  &kp KP_N8        &kp KP_N9        &kp LS(N8)      &kp LEFT_PARENTHESIS
&kp PERCENT               &kp SEMICOLON  &kp SQT     &kp LEFT_BRACKET  &kp UP_ARROW    &kp LG(D)          &kp INTERNATIONAL_4  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp LS(INT_RO)  &kp EXCLAMATION
&mt LEFT_SHIFT LA(ENTER)  &kp SLASH      &kp LS(N7)  &kp LS(NUMBER_2)  &kp DOWN_ARROW  &kp DEL            &kp INTERNATIONAL_5  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_N0       &kp QUESTION
&kp LEFT_GUI              &mkp MB4       &mkp MB5    &kp SPACE         &kp ENTER       &kp BACKSPACE      &mkp RCLK            &mkp LCLK                                                          &trans
            >;

            sensor-bindings = <&encoder_msc_down_up>;
        };

        NUM {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        ARROW {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };
    };
};
